<%- include('partials/head', {title: "Maxico Srl - Posis 2.0"}) %>

<body>
    <div class="container">
        <!-- menu de navegacion -->
        <%- include('partials/navbar') %>

        <!-- animacion de uploading -->
        <%- include('partials/uploading', {imgUploading: 'uploading.gif'}) %>
        
        <div class="container__info stock animate__animated animate__fadeIn animate__faster">
            <div class = "title">
                <h1>Historial</h1>
            <hr/>
            </div>
            <div class="div-table">
                <table >
                    <thead>
                        <tr >
                          <th>Secuencia</th>
                          <th>Fecha</th>
                          <th>Clientes</th>
                          <th>Cantidad de atados</th>
                          <th>Monto ventas</th>
                          <th>Informado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for( let i = 0; i < record.length; i++ ) { %>
                        <tr>
                            <td><%= record[i].num_secuencia %> </td>
                            <td><%= record[i].fecha %></td>
                            <td><%= record[i].cant_clientes %></td>
                            <td><%= record[i].cant_paquetes %></td>
                            <td><%= record[i].monto_venta %></td>
                            <td class=<%= (record[i].informado === 'NO') && 'no-informado'  %> ><%= record[i].informado %></td>
                        </tr>
                        <% } %>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>

    <script type="text/javascript" >

        function handleSendData() {
            document.querySelector('.uploading').style.display = "block";
        }
    
        </script>

</body>
</html>