<%- include('partials/head', {title: "Maxico Srl - Posis 2.0"}) %>

    <body>
        <div class="container">
            <!-- menu de navegacion -->
            <%- include('partials/navbar') %>

                <!-- animacion de uploading -->
                <%- include('partials/uploading') %>

                   <!-- animacion de update data -->
              <%- include('partials/update') %>

                    <div class="container__info ventas animate__animated animate__fadeIn animate__faster">
                        <div class="title">
                            <h1>Ventas</h1>
                            <hr/>
                        </div>
                        <div class="container__info-table">
                            <div class="div-table resum-table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Secuencia</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <%= sales[0]?.sequenceNumber%>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr>
                                            <th>documentDate</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <%=  sales[0]?.documentDate%>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr>
                                            <th>Sucursal</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <%= sales[0]?.branchCode%>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr>
                                            <th>Total Atados</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <%= locals.cant_paquetes%>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr>
                                            <th>Total Facturas</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <%= locals.cant_facturas%>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr>
                                            <th>Total Ventas</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <%= '$ ' + locals.monto_venta%>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="div-table div-table_header">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>POSCode</th>
                                            <th>N° de factura</th>
                                            <th>Codigo de articulo</th>
                                            <th>Tipo de venta</th>
                                            <th>Cantidad de atados</th>
                                            <th>Monto de venta</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for( let i = 0; i < sales.length; i++ ) { %>
                                            <tr>
                                                <td>
                                                    <%= sales[i].POSCode %>
                                                </td>
                                                <!-- <td><%= sales[i].sequenceNumber%> </td> -->
                                                <td>
                                                    <%= sales[i].documentNumber %>
                                                </td>
                                                <!-- <td><%= sales[i].documentDate %></td> -->
                                                <!-- <td><%= sales[i].branchCode %></td> -->
                                                <td>
                                                    <%= sales[i].product %>
                                                </td>
                                                <td>
                                                    <%= sales[i].salesType %>
                                                </td>
                                                <td>
                                                    <%= sales[i].quantityOfPacks %>
                                                </td>
                                                <td>
                                                    <%= '$ ' + sales[i].totalPacksAmount %>
                                                </td>
                                            </tr>
                                            <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
        </div>

        <script type="text/javascript" src="/script/script.js"></script>

    </body>

    </html>